<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Site-Name" value="IronRidge Mine Complex" />
        <add name="X-Processing-Area" value="West Crusher and Conveyance" />
        <add name="X-Operations-Domain" value="Concentrator Control" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
