<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Organization" value="MarketPoint Regional Payments Hub" />
        <add name="X-Service-Domain" value="POS Back Office" />
        <add name="X-Compliance-Scope" value="PCI" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
