<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Facility-Name" value="Vanguard Biologics Facility 2" />
        <add name="X-Cleanroom-Suite" value="Suite 5" />
        <add name="X-Compliance-Mode" value="GMP" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
