<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-POP-Name" value="Skyline 5G Edge POP 12" />
        <add name="X-Peer-Segment" value="Metro Edge" />
        <add name="X-Utility-Zone" value="DC Power Room" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
