<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Plant-Name" value="{{site_name}}" />
        <add name="X-PLC-Vendor" value="Siemens" />
        <add name="X-Process-Area" value="{{process_area}}" />
      </customHeaders>
    </httpProtocol>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
