<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Substation-Name" value="NorthGrid Substation 18" />
        <add name="X-Yard-Voltage" value="230kV" />
        <add name="X-Control-Domain" value="Breaker Protection" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
