<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Terminal-Name" value="Blue Harbor Container Terminal" />
        <add name="X-Berth-Group" value="Berth 7 Crane Row" />
        <add name="X-Control-Domain" value="Quay Operations" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
