<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Plant-Name" value="Clearwater Water Reclamation Plant" />
        <add name="X-Process-Area" value="Chlorination Train 2" />
        <add name="X-Control-Vendor" value="Siemens" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
