<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Site-Name" value="Atlas Dock Fulfillment Hub" />
        <add name="X-Process-Area" value="Conveyor Zone West" />
        <add name="X-Operations-Stack" value="WMS-Sortation" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
