<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-District-Name" value="Red Mesa Pipeline District" />
        <add name="X-Station" value="Compressor Station 4" />
        <add name="X-Control-Vendor" value="Siemens" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
