<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Facility-Name" value="Northbridge Medical Center" />
        <add name="X-Department" value="Radiology" />
        <add name="X-Modality-Vendor" value="Siemens Healthineers" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
