<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Facility-Name" value="SiliconCrest Fab 2" />
        <add name="X-Process-Bay" value="Lithography Bay 4" />
        <add name="X-Utility-System" value="Specialty Gas Delivery" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
