<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Airport-Name" value="Falcon Field Terminal A" />
        <add name="X-Control-Zone" value="Baggage Sortation Hall" />
        <add name="X-Tenant" value="Terminal Operations" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
