<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Plant-Name" value="HarvestCrest Foods Plant 3" />
        <add name="X-Process-Line" value="Packaging Hall South" />
        <add name="X-Cold-Chain-Zone" value="Refrigeration Corridor B" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
