<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Lab-Name" value="Meridian Applied Physics Lab" />
        <add name="X-Experiment-Zone" value="Cryogenic Loop A" />
        <add name="X-Control-Platform" value="PCS 7" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
