<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Operations-Center" value="MetroLink Operations Center" />
        <add name="X-Control-Zone" value="East Junction Interlocking" />
        <add name="X-Network-Domain" value="Rail Signaling" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
