<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Site-Name" value="IronStack Colo North" />
        <add name="X-Power-Zone" value="Power Distribution Room" />
        <add name="X-Network-Tier" value="Core Fabric" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
